body {
    background: url('../images/patternpad.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 300;
    font-style: italic;
}

p {
    font-weight: 300;
    font-size: 18px;
}

.paragraph-info span {
    font-weight: 400;
}

.input-group-text {
    background: url('../images/position.svg') no-repeat center;
    padding: 20px;
}

.paragraph-info-show {
    display: block;
}

.paragraph-info-hide {
    display: none;
}

.err-paragraph-show {
    display: block;
}

.err-paragraph-hide {
    display: none;
}
/*
.form-control {
    font-weight: 300;
}
*/
.button {
    font-weight: 400;
}

.aqi-color-good {
    background-color: #198754;
    color: #f0f8ff;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 2px #3D3D3D;
}

.aqi-color-moderate {
    background-color: #f1dc1f;
    color: #272727;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 2px #3D3D3D;
}

.aqi-color-unhealthy-for-sensitive-groups {
    background-color: #f58b34;
    color: #f0f8ff;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 2px #3D3D3D;
}

.aqi-color-unhealthy {
    background-color: #c21b45;
    color: #272727;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 2px #3D3D3D;
}

.aqi-color-very-unhealthy {
    background-color: #7b26db;
    color: #f0f8ff;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 2px #3D3D3D;
}

.aqi-color-hazardous {
    background-color: #772338;
    color: #f0f8ff;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 2px #3D3D3D;
}

@media only screen and (min-width: 1024px) {

    body {
        margin: 15% 0%;
    }

    .container {
        width: 80%;
        padding: 30px 20px;
    }

    h1{
        font-size: 65px;
        padding-bottom: 15px;
    }

    p {
        font-size: 22px;
    }

    .form-control {
        font-size: 18px;
        height: 53px;
    }

    .paragraph-info-show {
        padding-top: 20px;
    }

    .paragraph-info span {
        font-size: 24px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 1023px) {
    body {
        margin: 0% 5%;
    }

    .container {
        margin: 35% 0px;
        padding: 20px;
    }

    h1 {
        font-size: 55px;
        padding-bottom: 8px;
    }

    .input-group{
        height: 45px;
    }

    .form-control {
        font-size: 18px;
    }

    .paragraph-info-show {
        padding-top: 15px;
    }
}

@media only screen and (max-width: 576px) {

    body {
        margin: 0% 5%;
    }

    .container {
        margin: 50% 0%;
        padding: 10px 10px;
    }

    .city-name {
        display: block;
    }

    .aqi-color-good, 
    .aqi-color-moderate, 
    .aqi-color-unhealthy-for-sensitive-groups,
    .aqi-color-unhealthy,
    .aqi-color-very-unhealthy,
    .aqi-color-hazardous {
        display: block;
    }

    .paragraph-info-show {
        padding-top: 10px;
    }
}