body {
    background: url('../images/patternpad.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    max-width: 60%;
}

h1 {
    font-weight: 300;
    font-style: italic;
}

p {
    font-weight: 300;
}

.paragraph-info span {
    font-weight: 400;
    margin: 0 5px;
}

.input-group-text {
    background: url('../images/position.svg') no-repeat center;
    padding: 20px;
}